<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="text" content="">
    <meta name="author" content="Otto Schuldt">
    <title>Risk Assessment APP</title>
    <link rel="shortcut icon" href="/style/images/favicon.png">
</head>
<body>
{{$Error := .}} <!-- Cool stuff -->
<div class="centered">
    {{template "shutdown"}}
    <h2>Create project</h2>
    <a href="/">Return</a>
    {{if $Error }}
        <p class="error">{{$Error}}</p>
    {{end}}
    <form action="/add" method="post" autocomplete="off">
        <label for="project">Project Name:</label>
        <input id="project" type="text" name="project">
        <button type="submit">Create</button>
    </form>
</div>

</body>
</html>