<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="text" content="">
    <meta name="author" content="Otto Schuldt">
    <title>Risk Assessment APP</title>
    <link rel="shortcut icon" href="/style/images/favicon.png">
    <style>
        .centered {
            position: fixed;
            top: 20%;
            left: 50%;
            transform: translate(-50%, -50%);
            background-color: #54a5e3;
        }
        .centered * {
            padding: 5px 10px;
        }
    </style>
</head>
<body>

<div class="centered">
    <h2>Create project</h2>
    <a href="/">Return</a>
    <img src="/" alt="Risk Matrix" width="600" height="600">
    <form action="/add" method="post" autocomplete="off">
        <label for="project">Project Name:</label>
        <input id="project" type="text" name="project">
        <button type="submit">Create</button>
    </form>
</div>

</body>
</html>