<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="text" content="">
    <meta name="author" content="Otto Schuldt">
    <title>Risk Assessment APP</title>
    <link rel="shortcut icon" href="/style/images/favicon.png">
</head>
<body>
{{$RiskMatrix := .}} <!-- Cool stuff -->
<div class="centered">
    <h2>RISK MATRIX DETAIL</h2>
    <img src="/media/{{$RiskMatrix.Path}}" alt="Risk Matrix" width="600" height="600">
    <p>{{$RiskMatrix.Project}}</p>
    <br>
    <a href="/">Return</a>
</div>

</body>
</html>