<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="text" content="">
    <meta name="author" content="Otto Schuldt">
    <title>Risk Assessment APP</title>
    <link rel="shortcut icon" href="/style/images/favicon.png">
    <style>
        table, th, td {
            border: 1px solid black;
        }
        table {
            border-collapse: collapse;
            width: 500px;
        }
        th, tr {
            height: 20px;
        }
        a {
            color: #0f3e68;
            cursor: pointer;
        }
        a:hover {
            color: #00A8FF;
        }
    </style>
</head>
<body>
{{$RiskMatrix := .RiskMatrix}} <!-- Cool stuff -->
{{$Risks := .Risks}} <!-- Cool stuff -->
<div class="centered">
    <h2>RISK MATRIX DETAIL</h2>
    <img src="/media/{{$RiskMatrix.Path}}" alt="Risk Matrix" width="600" height="600">
    <p>{{$RiskMatrix.Project}}</p>
    <br>
    <a href="/">Return</a>
    <br>
    <a onclick="handleRiskCreation()">Add risk in Risk Matrix</a>
    <br>
    <a id="js_save" onclick="handleRisksSave(event)">Save</a>
    <input tabindex="-1" id="js_risk_matrix_id" hidden value="{{$RiskMatrix.ID}}">
    <table id="myTable">
        <tr>
            <th>Risk</th>
            <th>Probability</th>
            <th>Impact</th>
            <th>Risk Classification</th>
            <th>Risk Response Plan</th>
            <th>Action</th>
        </tr>
        {{if gt (len $Risks) 0 }}
            {{range $Risks}}
                <tr>
                    <td><input disabled value="{{.Name}}"></td>
                    <td><input disabled value="{{.Probability}}"></td>
                    <td><input disabled value="{{.Impact}}"></td>
                    <td><input disabled value="{{.Classification}}"></td>
                    <td><input disabled value="{{.Strategy}}"></td>
                    <td><a onclick="handleRiskDelete(event)" data-risk-id="{{.ID}}">delete</a></td>
                </tr>
            {{end}}
        {{end}}
    </table>
</div>

<script>
    function handleRiskCreation() {
        // get table
        let table = document.getElementById("myTable");
        // insert/get new row
        let newRow = table.insertRow(-1);
        // insert/get cells
        let cell1 = newRow.insertCell(0);
        let cell2 = newRow.insertCell(1);
        let cell3 = newRow.insertCell(2);
        let cell4 = newRow.insertCell(3);
        let cell5 = newRow.insertCell(4);
        let list = [cell1, cell2, cell3, cell5];
        // append input into cells
        for (let i = 0; i < list.length; i++) {
            // create input element
            let input = document.createElement("INPUT");
            // define input type
            input.type = "text";
            // append input into cell
            list[i].appendChild(input);
        }

        // in cell4 we will use a custom select element
        const opts = ["high", "medium", "low"];
        let optStr = "";
        opts.forEach(function (opt) {
            optStr += `<option value="${opt}">${opt}</option>`;
        });
        let mySelect = document.createElement("select");
        mySelect.innerHTML = optStr;
        cell4.appendChild(mySelect);

        // in cell6 we will add a custom msg
        let cell6 = newRow.insertCell(5);
        cell6.innerText = "save & refresh if you want to see the delete option";


        // after expanding the table we go to the end of page.
        // We might want to change this behavior when improving the UI.
        window.scrollTo(0,document.body.scrollHeight);
    }

    function handleRisksSave(e) {
        e.preventDefault();
        // get table
        let table = document.getElementById("myTable");
        let rows = table.rows;
        let list = [];
        let riskMatrixID = document.getElementById("js_risk_matrix_id").value;

        // if there are no rows (only the headers' table), we do nothing
        if (rows.length === 1) {
            return
        }
        for (let i = 1; i < rows.length; i++) {
            let obj = {};
            let risk = rows[i].cells[0].childNodes[0].value;
            let probability = rows[i].cells[1].childNodes[0].value;
            let impact = rows[i].cells[2].childNodes[0].value;
            let classification = rows[i].cells[3].childNodes[0].value;
            let strategy = rows[i].cells[4].childNodes[0].value;

            // validation should be improved
            if (risk === "") {
                continue
            }

            obj["risk_matrix_id"] = parseInt(riskMatrixID);
            obj["name"] = risk;
            obj["probability"] = parseInt(probability);
            obj["impact"] = parseInt(impact);
            obj["classification"] = classification;
            obj["strategy"] = strategy;
            list.push(obj);
        }

        // make AJAX request
        let xhr = new XMLHttpRequest();
        let formData = new FormData();

        // handle response
        xhr.onreadystatechange = function () {
            if(xhr.readyState === XMLHttpRequest.DONE){
                if (xhr.status === 200){
                    console.log("SUCCESS");
                    window.location = "/get/" + riskMatrixID
                }else {
                    console.log("ERROR");
                    console.log(xhr.responseText);
                }
            }
        };

        formData.append("data", JSON.stringify(list));
        xhr.open("POST", '/add-risks');
        xhr.send(formData);
    }

    function handleRiskDelete(e) {
        e.preventDefault();
        let riskID = e.target.getAttribute("data-risk-id");

        // make AJAX request
        let xhr = new XMLHttpRequest();
        let formData = new FormData();

        // handle response
        xhr.onreadystatechange = function () {
            if(xhr.readyState === XMLHttpRequest.DONE){
                if (xhr.status === 200){
                    console.log("SUCCESS");
                    let riskMatrixID = document.getElementById("js_risk_matrix_id").value;
                    window.location = "/get/" + riskMatrixID
                }else {
                    console.log("ERROR");
                    console.log(xhr.responseText);
                }
            }
        };

        formData.append("risk_id", riskID);
        xhr.open("POST", '/delete-risks');
        xhr.send(formData);
    }
</script>

</body>
</html>