<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="text" content="">
    <meta name="author" content="Otto Schuldt">
    <title>Risk Assesment APP</title>
    <link rel="shortcut icon" href="/style/images/favicon.png">
    <style>
        .centered {
            position: fixed;
            top: 50%;
            left: 50%;
            /* bring your own prefixes */
            transform: translate(-50%, -50%);
            background-color: #54a5e3;
        }
        .centered * {
            padding: 5px 10px;
        }
    </style>
</head>
<body>

<div class="centered">
    <h2>RISK MATRIX</h2>
    <img src="" alt="Risk Matrix" width="600" height="600">
</div>

</body>
</html>