<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="text" content="">
    <meta name="author" content="Otto Schuldt">
    <title>Risk Assessment APP</title>
    <link rel="shortcut icon" href="/style/images/favicon.png">
</head>
<body>
{{$RiskMatrixList := .}} <!-- Cool stuff -->
<div class="centered">
    <h3>List of Projects:</h3>
    {{if gt (len $RiskMatrixList) 0 }}
        <ul style="list-style: none;">
            {{range $RiskMatrixList}}
                <li><a href="/get/{{.ID}}">{{.Project}}</a><a onclick="handleRiskMatrixDelete(event)" data-risk-matrix-id="{{.ID}}">delete</a></li>
            {{end}}
        </ul>
    {{else}}
        <p style="color: red">There are no risk matrix registered.</p>
    {{end}}
    <br>
    <a href="/add">Create new risk matrix?</a>
</div>

<script>
    function handleRiskMatrixDelete(e) {
        e.preventDefault();
        let riskMatrixID = e.target.getAttribute("data-risk-matrix-id");

        // make AJAX request
        let xhr = new XMLHttpRequest();
        let formData = new FormData();

        // handle response
        xhr.onreadystatechange = function () {
            if(xhr.readyState === XMLHttpRequest.DONE){
                if (xhr.status === 200){
                    console.log("SUCCESS");
                    window.location = "/"
                }else {
                    console.log("ERROR");
                    console.log(xhr.responseText);
                }
            }
        };

        formData.append("risk_matrix_id", riskMatrixID);
        xhr.open("POST", '/delete-risk-matrix');
        xhr.send(formData);
    }
</script>
</body>
</html>