<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="text" content="">
    <meta name="author" content="Otto Schuldt">
    <title>Risk Assessment APP</title>
    <style>
        .error {
            color: red;
        }
    </style>
</head>
<body>
{{$Error := .Error}}
{{$MediaPath := .MediaPath}}
<div class="centered">
    {{template "shutdown"}}
    <h3>Add media path:</h3>
    {{if $Error }}
        <p class="error">{{$Error}}</p>
    {{end}}
    <form action="/set-media-path" method="post" autocomplete="off">
        <label for="mediapath">Set media path:</label>
        <input value="{{$MediaPath}}" style="width: 700px" id="mediapath" type="text" name="mediapath">
        <button type="submit">Set</button>
    </form>
</div>

</body>
</html>