{{define "shutdown"}}
    <div style="margin-bottom: 10px; margin-top: 10px">
        <form action="/shutdown" method="post" class="float-right" style="margin:0px; padding:0px; display:inline-block;">
            <button type="submit" class="btn btn-link" style="padding: 0px; margin:0px; display: inline-block">Shutdown</button>
        </form>
    </div>
{{end}}